APP_NAME=t1
API_VERSION=v1
DEBUG=True
POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
POSTGRES_DB=ai_service_desk
DATABASE_URL=xxx
SECRET_KEY=my-secret-key

# AWS configuration (replace with your values or set AWS_DEMO_MODE=true)
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
AWS_DEMO_MODE=false
DATABASE_READY=true
BEDROCK_MODEL_ID=your_bedrock_model_id
